<div class="padding" *ngIf="firstTrys">
  <div *ngIf="!getName">
    <div *ngIf="!change; else tryOne">
      <h3>{{ firstTry.oneContainer }} Как тебя зовут?</h3>
    </div>
    <ng-template #tryOne>
      <h3>{{ twoTry.oneContainer }} Как тебя зовут?</h3>
    </ng-template>
    <form action="">
      <input
        #NAME="ngModel"
        [(ngModel)]="person.name"
        required
        name="name"
        placeholder="Введи свое имя и фамилию"
        type="text"
        pattern="[a-zA-Zа-яА-ЯёЁ ]+"
        minlength="3"
        maxlength="30"
      />
      <button #BUTTON [disabled]="NAME.invalid" (click)="showName()">
        Отправить
      </button>
      <p class="valid" *ngIf="NAME.invalid && NAME.touched">
        Имя не введено или значение не валидно
      </p>
    </form>
  </div>

  <div *ngIf="getName && !gethobby">
    <div *ngIf="!change; else tryTwo">
      <h3>
        Привет <span class="enterText">{{ person.name }}!</span>
        {{ firstTry.twoContainer }}
      </h3>
    </div>
    <ng-template #tryTwo>
      <h3>
        Привет <span class="enterText">{{ person.name }}!</span>
        {{ twoTry.twoContainer }}
      </h3>
    </ng-template>
    <form action="">
      <p>
        Расскажи мне, что тебе нравится? Чем ты увлекаешься? Может быть, у тебя
        даже есть хобби! Мне интересно ВСЕ!
      </p>
      <textarea
        #HOBBY="ngModel"
        [(ngModel)]="person.hobby"
        class="hobby"
        id="hobby"
        name="hobby"
        required
        placeholder="Расскажи об увлечениях"
        minlength="10"
        maxlength="700"
      ></textarea>
      <button [disabled]="HOBBY.invalid" (click)="getHobby()">Отправить</button>
      <p class="valid padd" *ngIf="HOBBY.invalid && HOBBY.touched">
        Хобби не введено
      </p>
    </form>
  </div>
  <div class="adress" *ngIf="gethobby && !getadress">
    <h3>Как здорово узнавать что-то новое о людях!</h3>
    <form action="">
      <p>
        А теперь напиши мне свой домашний адрес, чтобы я знал, куда отправлять
        подарочек!
      </p>
      <div>
        <input
          #CITY="ngModel"
          required
          [(ngModel)]="person.adress.city"
          name="city"
          type="text"
          placeholder="Город"
          pattern="[a-zA-Zа-яА-ЯёЁ ]+"
        />
        <p class="valid p" *ngIf="CITY.invalid && CITY.touched">
          Город не введен
        </p>
      </div>
      <div>
        <input
          #STREET="ngModel"
          required
          [(ngModel)]="person.adress.street"
          name="street"
          type="text"
          placeholder="Улица"
          min="3"
        />
        <p class="valid p" *ngIf="STREET.invalid && STREET.touched">
          Улица не введена
        </p>
      </div>
      <div>
        <input
          #HOME="ngModel"
          required
          [(ngModel)]="person.adress.home"
          name="home"
          type="number"
          placeholder="Номер дома"
        />
        <p class="valid p" *ngIf="HOME.invalid && HOME.touched">
          Номер дома не введен
        </p>
      </div>
      <div>
        <input
          #APPARTMENT="ngModel"
          required
          [(ngModel)]="person.adress.apartment"
          name="apartment"
          type="number"
          placeholder="Номер квартиры"
          pattern="[0-9]+"
        />
        <p class="valid p" *ngIf="APPARTMENT.invalid && APPARTMENT.touched">
          Номер квартиры не введен
        </p>
      </div>
      <div>
        <input
          #POSTCODE="ngModel"
          required
          [(ngModel)]="person.adress.postcode"
          name="postcode"
          type="number"
          placeholder="Почтовый индекс"
          pattern="[0-9]{6}"
        />
        <p class="valid p" *ngIf="POSTCODE.invalid && POSTCODE.touched">
          Почтовый индекс не введен
        </p>
      </div>
      <button
        [disabled]="
          CITY.invalid ||
          STREET.invalid ||
          HOME.invalid ||
          APPARTMENT.invalid ||
          POSTCODE.invalid
        "
        (click)="getAdress()"
      >
        Отправить
      </button>
    </form>
  </div>
  <div *ngIf="getadress && !pullPerson">
    <h3>
      Ура! Спасибо тебе, за твои ответы! Давай наконец приступим ко второй части празника! Стань моим помощником и подари праздник друзьям!
    </h3>
    <button class="p-g" (click)="ready()">Ура! Вперед! :)</button>
    <button class="padd" (click)="personRename()">Я ввел данные не верно :(</button>
  </div>
  <div *ngIf="pullPerson && !getRandomName">
    <h3>
      Ну что, мой помощник <span class="enterText">{{ person.name }}</span
      >, теперь ты можешь узнать имя своего коллеги и подарить ему новогоднее чудо!
    </h3>
    <button (click)="randomName()">Узнать Имя!</button>
  </div>
  <div *ngIf="getRandomName && firstTrys">
    <h2 *ngIf="clickOn">
      <span class="enterText random">{{ random }}!</span>
    </h2>
  </div>
  <div *ngIf="getRandomName && firstTrys">
    <h3 class="m">Хочешь узнать его/её адрес и хобби?</h3>
    <button (click)="showAdressRandom()">Узнать</button>
    <div *ngIf="showHobbyAndAdress && firstTrys">
      <p class="pos">
        Хобби: <span class="enterText">{{ ArrayPersons[0].hobby }}</span>
      </p>
      <p class="pos">Адрес:</p>
      <ul class="pos">
        <li>
          Город:
          <span class="enterText">{{ ArrayPersons[0].adress.city }}</span>
        </li>
        <li>
          Улица:
          <span class="enterText">{{ ArrayPersons[0].adress.street }}</span>
        </li>
        <li>
          Номер дома:
          <span class="enterText">{{ ArrayPersons[0].adress.home }}</span>
        </li>
        <li>
          Номер квартиры:
          <span class="enterText">{{ ArrayPersons[0].adress.apartment }}</span>
        </li>
        <li>
          Почтовый индекс:
          <span class="enterText">{{ ArrayPersons[0].adress.postcode }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div defer *ngIf="!firstTrys && !showRemindName">
  <h3>
    Забыл кому даришь подарок? Давай напомню! Но для начала напомни свое имя, а
    то дедушка уже старенький, позабыл!
  </h3>
  <form>
    <input
      #REMIND="ngModel"
      [(ngModel)]="remind"
      required
      name="remind"
      placeholder="Введи свое имя и фамилию"
      type="text"
      pattern="[a-zA-Zа-яА-ЯёЁ ]+"
      minlength="3"
      maxlength="30"
    />
    <button [disabled]="REMIND.invalid" (click)="getRemindName()">
      Отправить
    </button>
    <p class="valid pos padd" *ngIf="REMIND.invalid && REMIND.touched">
      Имя не введено или значение не валидно
    </p>
  </form>
</div>
<div *ngIf="showRemindName && !nameNotFound">
  <h3>
    Ты даришь подарок замечательному человеку! <br>
    Это <span class="enterText">{{ remindRandomName }}</span>
  </h3>
  <h4>напомнить список увлечений и адрес?</h4>
  <button (click)="getRemindAdress()">Давай! :)</button>
  <div *ngIf="showRemindAdress">
    <p class="pos">
      Хобби: <span class="enterText">{{ ArrayAdress[0].hobby }}</span>
    </p>
    <p class="pos">Адрес:</p>
    <ul class="pos">
      <li>
        Город: <span class="enterText">{{ ArrayAdress[0].adress.city }}</span>
      </li>
      <li>
        Улица: <span class="enterText">{{ ArrayAdress[0].adress.street }}</span>
      </li>
      <li>
        Номер дома:
        <span class="enterText">{{ ArrayAdress[0].adress.home }}</span>
      </li>
      <li>
        Номер квартиры:
        <span class="enterText">{{ ArrayAdress[0].adress.apartment }}</span>
      </li>
      <li>
        Почтовый индекс:
        <span class="enterText">{{ ArrayAdress[0].adress.postcode }}</span>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="nameNotFound">
   <h3>Упс, что-то пошло не так! Видимо твоего имени нет в моем списке! Проверь, правильно ли ты его ввел!</h3>
</div>
