<div *ngIf="firstTry" class="position">
  <div class="hello">
    <h3>Если ты попал сюда, то тебе повезло! Ты работаешь в PIE STUDIO, а это значит, что для тебя я приготовил особенный сюрприз!</h3>
    <h4>В связи с бушующей заразой, я не могу посетить тебя персонально, но это не беда!</h4>
    <h4>ТЫ НЕ ОСТАНЕШЬСЯ БЕЗ ПОДАРКА!</h4>
    <h4>Но перед этим тебе придется ответить на пару вопросов! Прошу, ответь на них предельно честно, от этого зависит, смогут ли мои верные помощники доставить тебе подарок в срок!</h4>
    <h4>Надеюсь, ты не против?</h4>
  </div>
<div class="hello">
    <button class="link" routerLink="/questions">Не против! :)</button>
    <button class="link padd" routerLink="/byaka">Против! :(</button>
</div>
</div>
<div class="hello" *ngIf="!firstTry">
  <h3>До Нового Года осталось {{45}} дней!</h3>
</div>
