<div *ngIf="firstTry" class="position">
  <div class="hello">
    <h2>Если ты попал сюда, то тебе повезло! Ты работаешь в PIE STUDIO, а это значит, что для тебя я приготовил особенный сюрприз!</h2>
    <h3>В связи с бушующей заразой, я не могу посетить тебя персонально, но это не беда!</h3>
    <h2>Ты не останешься без подарка!</h2>
    <h3>У меня есть предложение от которого ты не сможешь отказаться! Если ты поможешь мне, то моим помощникам удастся доставить твой подарок вовремя! Но перед этим тебе придется ответить на пару вопросов!</h3>
    <h3>Ну, что? Готов мне помочь и получить свой подарок?</h3>
  </div>
<div class="hello">
    <button class="link" routerLink="/questions">Конечно! :)</button>
    <button class="link padd" routerLink="/byaka">Я Против! :(</button>
</div>
</div>
<div class="hello" *ngIf="!firstTry">
  <h3>До Нового Года осталось {{45}} дней!</h3>
  <h3>Напомнить тебе имя того, кому ты даришь подарок?</h3>
  <button class="link" routerLink="/questions">Давай :)</button>
</div>
