<div *ngIf="firstTry" class="position">
  <div class="hello">
    <h2>
      Если ты попал сюда, то тебе повезло! Ты работаешь в PIE STUDIO, а это
      значит, что для тебя я приготовил особенный сюрприз!
    </h2>
    <h3>
      В связи с бушующей заразой, я не могу посетить тебя персонально, но это не
      беда!
    </h3>
    <h2>Ты не останешься без подарка!</h2>
    <h3>
      Покажи, что в этом году ты был хорошим мальчиком/девочкой! 
    </h3>
    <h2>
      Стань моим
      помощником и помоги подарить праздник себе и своим коллегам!
    </h2>
    <h3>
      Но перед этим, ответь на пару вопросов о себе, чтобы тебя было легко найти
      и также легко выбрать тебе подарок!
    </h3>
    <h3>Ну, что? Приступим?</h3>
  </div>
  <div class="hello">
    <button class="link" routerLink="/questions">Конечно! :)</button>
    <button class="link padd" routerLink="/byaka">Я Против! :(</button>
  </div>
</div>
<div class="hello" *ngIf="!firstTry">
  <h3>До Нового Года осталось {{ 45 }} дней!</h3>
  <h3>Напомнить тебе имя того, кому ты даришь подарок?</h3>
  <button class="link" routerLink="/questions">Давай :)</button>
</div>
