.hello 
  max-width: 700px
  margin 0 auto
  text-align: center

.position
  position relative
  z-index: 5
/*   animation-delay 5s
.h
  animation main 5s linear
.e
  animation main 6s linear
.l
  animation main 7s linear
.ll
  animation main 8s linear
.o
  animation main 9s linear */